.container {
    background-color: whitesmoke;
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Content Blocks Div */

.content_blocks {
    width: 900px;
    padding: 10px;
    display: flex;
}

.column1 {
    margin: 10px;
    flex: 2;
}

.profile_header {
    height: 50px;
    margin: 0px;
    background-color: teal;
}

.column2 {
    margin: 10px;
    flex: 1;
}

.header_column2 {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding-left: 20px;
    font-family: 'Roboto';
}

.circle1 {
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    color: white;
    background-color: grey;
}

.circle2 {
    padding: 2px;
    line-height: 25px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin-right: 5px;
    color: white;
    background-color: grey;
}

.connections {
    color: white;
    margin: 0px;
}

.new_connections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto';
}

.content_squares {
    background-color: white;
    border: 3px solid grey;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

.your_connections {
    background-color: white;
    border-bottom: none;
    border: 3px solid grey;
    padding-left: 10px;
    font-family: 'Roboto'
}

#existing_connections {
    display: flex;
    align-items: center;
}

.acceptclose_circle {
    width: 30px;
    background-color: white;
    border-bottom: none;
}

.connections_photos {
    margin-right: 5px;
    width: 50px;
    border: 3px solid grey;
    border-radius: 100%;  
}

.view_more {
    background-color: white;
    border-top: 0px; 
    border: 3px solid grey;
    margin-bottom: 10px;
    padding-left: 20px;
}


#info {
    margin-bottom: 10px;
    font-family: 'Roboto';
    line-height: 0px;
}

#edit_profile {
    display: flex;
    align-items: center;
    color: blue;
}

#location {
    display: flex;
    align-items: center;
    color: black;
}

.education_header {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
    align-items: center;
    margin: 0px;
    padding-left: 20px;
    font-family: 'Roboto';
}

#dates {
    color: grey;
}

h4 {
    font-weight: bold;
}

#jane {
    width: 100px;
    border: 3px solid grey;
    border-radius: 100%;
    margin:auto;  
}

#gear_mapmarker {
    width: 15px;
    margin: 5px;
}

#your_connections {
    margin-top: 0px;
}

/* Navigation div */

.nav {
    width: 900px;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-title {
    color: white;
    font-family: 'Roboto';
    margin-right: 10px;
}

.nav-links {
    display: flex;
    padding: 3px 0px;
    width: 50%;
    justify-content: space-around;
}

.nav_title_links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
}


.active {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.btn {
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    background-color: teal;
    color: white;
    border-color: black;
    box-shadow: 3px 3px black;
}